@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #859db4;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  background-color: #2f3a60;
  padding: 8px;
  border-bottom: 1px solid rgba(156, 156, 156, 0.74);
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 12px;
  background-color: #fdf5c9;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0 5px 5px rgb(138, 137, 137);
}

.input-container input,
.input-container textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #c8ccd4;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  transition: 0.2s ease;
}

.input-container input:focus,
.input-container textarea:focus {
  border-color: #2f3a60;
  box-shadow: 0 0 4px rgba(47, 58, 96, 0.4);
  outline: none;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  width: fit-content;
  padding: 4px 12px 4px 12px;
  background-color: #5ccf6e;
  font-weight: bold;
}

.button-container button:hover {
  border-color: #2f3a60;
  box-shadow: 0 0 4px rgba(47, 58, 96, 0.4);
  outline: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.moviesListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 90%;
  align-self: center;
  gap: 32px;
}

.movieContainer {
  padding: 8px;
  background-color: red;
}

.movieItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #f6ebe8;
  padding: 12px;
  border-radius: 12px;
  max-width: 350px;
}

.movieItem > img {
  width: 200px;
  height: 200px;
  align-self: center;
}

.movieItem h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2f3a60;
  word-wrap: break-word;
}

.movieItem p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #444b54;
  color: red;
  word-wrap: break-word;
}

.movieItem button {
  width: fit-content;
  padding: 4px;
  align-self: end;
  background-color: #e26a6a;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.movieItem button:hover {
  background-color: #cc5b5b;
  box-shadow: 0 0 4px rgba(47, 58, 96, 0.4);
}

.home-container {
  height: 100vh;;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-content-container {
  font-family: "Montserrat", sans-serif;
  align-self: center;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.home-content-container p {
  text-align: justify;
  font-size: 1.5rem;
}

.app-button {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  width: fit-content;
  align-self: center;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(184, 189, 194);
  cursor: pointer;
}

.app-button:hover {
  background-color: #87b2db;
  box-shadow: 0 0 4px rgba(47, 58, 96, 0.4);
}